In [1]:
import pandas as pd
import numpy as np

In [4]:
#1. Load data
df = pd.read_csv("C:/Users/mmaha/projects/cdc-overdose-prediction/data/Multiple Cause of Death, 2018-2023, Single Race.csv")

In [6]:
# 2. Inspect structure
print(df.shape)

(7054, 10)

In [7]:
print(df.columns)

Index(['Notes', 'State', 'State Code', 'County', 'County Code', 'Year',
       'Year Code', 'Deaths', 'Population', 'Crude Rate'],
      dtype='object')

In [9]:
df.head()

,Notes,State,State Code,County,County Code,Year,Year Code,Deaths,Population,Crude Rate
0,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,2018.0,2018.0,28.0,218022,12.8
1,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,2019.0,2019.0,27.0,223234,12.1
2,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,2020.0,2020.0,63.0,229287,27.5
3,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,2021.0,2021.0,88.0,239294,36.8
4,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,2022.0,2022.0,75.0,246435,30.4

In [10]:
# 3Ô∏è Clean column names
df.columns = [c.strip().replace(" ", "_").lower() for c in df.columns]

In [13]:
# 4. Convert numeric fields
for col in ["deaths", "population", "crude_rate"]:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")

In [14]:
# 5. Remove "All Counties" or total
if "county" in df.columns:
    df = df[df["county"].notna()]
    df = df[~df["county"].str.contains("All Counties", case=False, na=False)]

In [15]:
# 7. Calculate crude death rate
df["death_rate_per_100k"] = (df["deaths"] / df["population"]) * 100000

In [19]:
# 8. Drop incomplete rows
df = df.dropna(subset=["year", "deaths", "population"])

In [21]:
# 9. Save cleaned file
df.to_csv("C:/Users/mmaha/projects/cdc-overdose-prediction/data/CDC_Overdose_Cleaned.csv", index = False)

In [22]:
print ("Cleaned dataset saved at data/CDC_Overdose_Cleaned.csv")
df.head()

Cleaned dataset saved at data/CDC_Overdose_Cleaned.csv

,notes,state,state_code,county,county_code,year,year_code,deaths,population,crude_rate,death_rate_per_100k
0,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,2018.0,2018.0,28.0,218022.0,12.8,12.842741
1,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,2019.0,2019.0,27.0,223234.0,12.1,12.094932
2,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,2020.0,2020.0,63.0,229287.0,27.5,27.476481
3,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,2021.0,2021.0,88.0,239294.0,36.8,36.774846
4,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,2022.0,2022.0,75.0,246435.0,30.4,30.433989